@model Dominio.EntidadesNegocio.TipoDePlanta

@{
    ViewData["Title"] = "Create";
}

<h1 class="my-4">Registro Tipo de Planta</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>      
            <div class="form-group my-3">
                <label asp-for="Nombre" class="control-label font-weight-bold"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Descripcion" class="control-label font-weight-bold"></label>
                <textarea asp-for="Descripcion" class="form-control"> </textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="ListaTiposDePlanta">Ir a la Lista</a>
</div>

@if (ViewBag.ResultadoOk != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.ResultadoOk
    </div>
}

@if (ViewBag.ResultadoError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ResultadoError
    </div>
}


@section Scripts {

    <script type="text/javascript">

    function openSuccesModal(mensajeError) {
        document.getElementById('mensajeModalError').innerHTML = mensajeError;
        $('#myModalError').modal('show');
        }

    $(document).ready(function () {
        var msgError = "@TempData["MensajeError"]";
        var msgErrorDesc = "@TempData["descError"]";
        if (msgError)
            openSuccesModal(msgError);
        if (msgErrorDesc)
            openSuccesModal(msgErrorDesc);
    });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
